<div class="container">
  <div class="row">

      <!-- insert <div class="card"> -->
      <% @cocktails.each do |cocktail| %>
       <!-- <li><%= cocktail.name%></li> -->
        <div class="col-xs-12 col-sm-4 col-md-3">
          <% if cocktail.photo.present? %>
              <% img_url = cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>
          <% else %>
              <% img_url = image_url('cocktail-card-background.jpg') %>
          <% end %>

          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= img_url %>');">
            <div class="card-category"><%= cocktail.name %></div>
            <div class="card-description">
              <% cocktail.ingredients.each do |ingredient| %>
              <p><%= ingredient.name %>, </p>
                <% end %>
              <p></p>
            </div>
            <!-- <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
            <!-- <a class="card-link" href="" ></a> -->
            <%= link_to 'Show', cocktail_path(cocktail), class: 'card-link'  %>
          </div>
        </div>
      <% end %>

  </div>
</div>

<% #To display free pictures from unsplesh use following link %>
<% # https://source.unsplash.com/random %>
